body {
    background-color: rgb(48, 5, 5);
}
body h1 ,h2 , h3 {
    color: white;
}

body p {
    color: white;
}

body ol , li {
    color: white;
    
}

.font-size {
    font-size: 20px;
}

a {
    color: white;
    font-size: 35px;
}    